{% macro link(golink) -%}
  <a title="{{ golink.url }}" href="{{ url('golink', name=golink.name) }}">go/{{ golink.name }}</a>
{%- endmacro %}

{% macro edit_link(golink, text='') -%}
  <a title="go/{{ golink.name }}?edit" href="{{ url('golink', name=golink.name, query_='edit') }}">{% if text %}{{ text }}{% else %}go/{{ golink.name }}?edit{% endif %}</a>
{%- endmacro %}

{% macro form(name, url=undefined, owner=None, legend=None, disabled=False) %}
  <form method="post">
    <fieldset{% if disabled %} disabled{% endif %}>
      {% if legend %}<legend>{{ legend }}</legend>{% endif %}
      {{ link({'name': name, 'url': url}) }}:
      <input name="url" type="url" size="30" title="URL (must be http:// or https://)" pattern="https?://.*" placeholder="https://www.example.com/path" value="{{ url|default("") }}" required>
      <button type="submit">Submit</button>
      {% if owner %}<p>Created by: {{ owner }}</p>{% endif %}
    </fieldset>
  </form>
{% endmacro %}
