{% macro link(golink) -%}
  <a title="{{ golink.url }}" href="{{ url('golink', path=golink.name) }}" rel="noreferrer">go/{{ golink.name }}</a>
{%- endmacro %}

{% macro edit_link(golink, text='') -%}
  <a title="go/+edit/{{ golink.name }}" href="{{ url('edit', path=golink.name) }}">{% if text %}{{ text }}{% else %}go/{{ golink.name }}?edit{% endif %}</a>
{%- endmacro %}

{% macro form(name, url=undefined, owner=None, visits=None, legend=None, disabled=False) %}
  <form method="post">
    <fieldset{% if disabled %} disabled{% endif %}>
      {% if legend %}<legend>{{ legend }}</legend>{% endif %}
      {{ link({'name': name, 'url': url}) }}
      <input name="url" type="url" size="70" title="URL (must be http:// or https://)" pattern="https?://.*" placeholder="https://www.example.com/path" value="{{ url|default("") }}" autofocus required>
      {% if url %}
        <button type="submit">Edit</button>
        <button type="submit" name="action" value="delete" formnovalidate>Delete</button>
      {% else %}
        <button type="submit">Create</button>
      {% endif %}
      {% if owner %}<p>Created by: <code>{{ owner }}</code></p>{% endif %}
      {% if visits is not none %}<p>Visits: {{ visits }}</p>{% endif %}
    </fieldset>
  </form>
{% endmacro %}
