{% macro link(golink) -%}
  <a title="{{ golink.url }}" href="{{ url('golink', name=golink.name) }}">go/{{ golink.name }}</a>
{%- endmacro %}

{% macro edit_link(golink, text='') -%}
  <a title="go/{{ golink.name }}?edit" href="{{ url('golink', name=golink.name, query_='edit') }}">{% if text %}{{ text }}{% else %}go/{{ golink.name }}?edit{% endif %}</a>
{%- endmacro %}

{% macro form(name="", url="", legend=None, disabled=False) %}
  <form method="post">
    <fieldset{% if disabled %} disabled{% endif %}>
      {% if legend %}<legend>{{ legend }}</legend>{% endif %}
      <label>go/<input name="name" type="text" title="Short name (must consist only of alphanumeric, dash or underscore characters)" size="10" pattern="[a-zA-Z0-9_-]+" placeholder="shortname" value="{{ name }}" required{% if name %} disabled{% endif %}></label>:
      <input name="url" type="url" size="30" title="URL (must be http:// or https://)" pattern="https?://.*" placeholder="https://www.example.com/path" value="{{ url }}" required>
      <button type="submit">Submit</button>
      {% if url %}<p>{{ link({'name': name, 'url': url}) }} (links to {{ url|urlize }})</p>{% endif %}
    </fieldset>
  </form>
{% endmacro %}
