{% extends "base.html" %}

{% block content %}
  <form method="post">
    <fieldset>
      <legend>Lookup Golink</legend>
      <label>go/<input name="name" type="text" title="Short name (must consist only of alphanumeric, dash or underscore characters)" size="10" pattern="[a-zA-Z0-9_-]+" placeholder="shortname" required></label>
      <button type="submit">Lookup</button>
    </fieldset>
  </form>
  {% if auth.can_create() %}
  <h2>Your Golinks</h2>
  <ul>
    {% for golink in golinks %}<li>{{ go.link(golink) }}{% if auth.can_edit(golink) %} {{ go.edit_link(golink, text='[edit]') }}{% endif %}</li>{% else %}No links yet!{% endfor %}
  </ul>
  {% endif %}
{% endblock %}
