{% extends "base.html" %}

{% block title %}Golink - go/+search{% endblock %}

{% block breadcrumb %}<li><a href="{{ url('search') }}">+search</a></li>{% endblock %}

{% block content %}
  {% with search_autofocus=True %}
    {% include "_search_form.html" %}
  {% endwith %}
  {% if golinks %}
    <h2>Results</h2>
    <ul>
    {% for golink in golinks %}
      <li>{{ go.link(golink) }}{% if auth.can_edit(golink) %} {{ go.edit_link(golink, text='[edit]') }}{% endif %} &rarr; <a rel="noreferrer" href="{{ golink.url }}">{{ golink.url|truncate(70, True) }}</a> ({{ golink.visits }} visits)</li>
    {% else %}
      No results!
    {% endfor %}
    </ul>
  {% endif %}
{% endblock %}
